<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BasicUserRegistrationEmail-Swift.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>342DEA811DAED5E70069D58B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>342DEA951DAED5E80069D58B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>342DEAA01DAED5E80069D58B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
